.offers{
    width: 65%;
    height: 65vh;
    display: flex;
    margin: auto;
    padding: 0 140px;
    margin-top: 150px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #f7bffb 0%, #e1ffea22 100%);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1{
    color: #171717;
    font-size: 70px;
    font-weight: 600;
}

.offers-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}


.offers-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.offers-right img{
    display: flex;
    width: 60%;
    height: auto;
    padding-bottom: 20px ;
}

@media screen and (max-width: 1020px){

    .offers{
        height: 40vh;
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .offers-left h1{
        font-size: 60px;
    }
    
    .offers-left p{
        font-size: 20px;
    }
    
    
    .offers-left button{
        width: 272px;
        height: 60px;
        font-size: 20px;
    }

    .offers-right img{
        width: 80%;
    }
    
}
  
  
@media screen and (max-width: 900px){
    .offers{
        height: 35vh;
        padding: 0 110px;
    }

    
    .offers-left h1{
        font-size: 50px;
    }
    
    .offers-left p{
        font-size: 18px;
    }
    
    .offers-left button{
        width: 232px;
        height: 60px;
        font-size: 18px;
    }

    .offers-right img{
        width: 80%;
    }
}
  
  
  
@media screen and (max-width: 750px){
    .offers{
        height: 30vh;
        padding: 0 100px;
    }

    
    .offers-left h1{
        font-size: 40px;
    }
    
    .offers-left p{
        font-size: 15px;
    }
    
    .offers-left button{
        width: 132px;
        height: 50px;
        font-size: 15px;
    }

}
  
@media screen and (max-width: 550px){
    .offers{
        height: 25vh;
        padding: 0 70px;
        margin-top: 100px;
        margin-bottom: 150px;
    }
 
    .offers-left h1{
        font-size: 30px;
    }
    
    .offers-left p{
        font-size: 15px;
    }
    
    .offers-left button{
        width: 110px;
        height: 40px;
        font-size: 15px;
    }
}

@media screen and (max-width: 450px){
    .offers{
        height: 22vh;
        padding: 0 50px;
        margin-top: 150px;
        margin-bottom: 150px;
    }
 
    .offers-left h1{
        font-size: 22px;
    }
    
    .offers-left p{
        font-size: 12px;
    }
    
    .offers-left button{
        width: 110px;
        height: 30px;
        margin-top: 20px;
        font-size: 13px;
    }
}